@font-face
    font-family: 'Titillium Web'
    src: url(../fonts/titillium_web/TitilliumWeb-Regular.ttf)

@font-face 
    font-family: 'Open Sans'
    src: url(../fonts/open_sans/OpenSans-Regular.ttf)

html 
    scroll-behavior: smooth

html, body 
    font-family: 'Open Sans'

h1, h2, .navbar-links a 
    font-family: 'Titillium Web'

header
    height: 50px
    width: 100%
    position: fixed
    z-index: 1
    top: 0
    left: 0
    overflow-x: hidden
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.7), 0 2px 3px 0 rgba(0,0,0,0.5)

aside
    height: 100%
    width: 180px
    position: fixed
    z-index: 1
    top: 0
    left: 0
    margin-top: 50px
    overflow-x: hidden

main, html
    background-color: #e8e8e8

main
    margin-top: 50px
    margin-left: 180px    

textarea
    height: 180px !important
    resize: none

th
    font-size: .98rem

td, table select.form-control
    font-size: .92rem

table select.form-control
    padding: .375rem .35rem

.rounded-border
    border-radius: 50%

.sidebar-nav
    -ms-overflow-style: none

.sidebar-nav::-webkit-scrollbar
    display: none

.dashboard-panel
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4), 0 2px 5px 0 rgba(0,0,0,0.2)
    border: 3px solid #a8a8a8

.nav-title    
    width: 180px

.nav-title h1
    font-size: 1.3rem

.nav-border    
    border-bottom: 2px solid #6c757d
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.9), 0 2px 10px 0 rgba(0,0,0,0.3)

.list-group-item
    background-color: #343a40!important
    padding: 0 !important
    border-radius: 0 !important
    border: none

.list-group-item a
    display: flex

.nav-icon
    width: 40px

.breadcrumb-item a
    text-decoration: none
    color: #000

.container-shadow
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
    background-color: #f8f9fa
    overflow-x: auto

.breadcrumb a 
    text-decoration: none

.navmenu-list
    margin-left: 30%

.list-unstyled a
    display: block
    width: 100%
    color: #fff
    text-decoration: none
    margin: 10px 0

.dropdown-toggle::after
    display: block
    position: absolute
    top: 30px
    right: 20px
    transform: translateY(-50%)
    color: #fff

.alert
    position: fixed
    z-index: 777
    top: 14%
    right: 4%
    padding: 30px 65px 30px 45px
    opacity: .9

.auto-width
    width: auto

.form-group label
    font-weight: bold

.table
    background-color: #fff
    margin-bottom: 0

.form-required
    color: red

.count-badge
    position: absolute
    top: 0

.rm-header
    background-color: #17a2b8

.dm-header
    background-color: #dc3545

.rs-header
    background-color: #28a745

.rm-header, .dm-header, .rs-header
    color: #fff

.modal-body
    padding: 40px

#profile_image
    width: 3.5rem    
    height: 3.5rem

.profile-details
    overflow-x: auto
    overflow-y: hidden

.profile-details h1
    font-size: 18px

.profile-details h2
    font-size: 16px

.view-profile
    position: absolute
    width: 100%
    bottom: 0
    background-color: #000
    opacity: .8      
    font-size: .9rem

.image-container
    width: auto

#image_viewer
    height: 14rem
    width: 14rem

.profile-input
    background-color: #f8f9fa
    border: none

.active-input
    background-color: #f8f9fa
    border: none
    border-bottom: 2px solid gray
    outline: none

.edit-icon
    cursor: pointer

.details-modal
    max-width: 800px !important

.details-row, .disposed-input, .newdetails-control
    background-color: #f8f9fa !important

.disposed-input, .newdetails-control
    border: none

.details-container h1
    font-size: 1.2rem
    font-weight: bold

.form-details label
    margin: 0

.textarea-reason
    height: 65px !important

.disabled-select    
    border: none
    -webkit-appearance: none
    -moz-appearance: none
    padding: 0 10px !important